<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sinpost_Ecommerce_Suite" preserve-order="true">

	<listeners>
   <listener class-name="com.specomm.adidas.testreport.CustomReporterListener" />
     <listener class-name="org.testng.reporters.SuiteHTMLReporter" />
    <listener class-name="com.specomm.adidas.testreport.TestListener"/> 
    
	</listeners>
	
	<test name="Adidas-Price Validation Module">
	<!-- Write your test execution from here -->
	<classes>

		
	<class name="com.specomm.adidas.pricevalidation.PriceValidation"/>
	
	  	
	</classes>
	</test> 

	
	

</suite>