<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- <suite name="Sinpost_iSam_Suite" parallel="false" preserve-order="true"> -->
<suite name="Sinpost_iSam_Suite">
	<listeners>
   
    <listener class-name="com.singpost.isam.report.TestListener"/> 
    
	</listeners>
	
	<test name="iSam TestCases">
	
	<!-- Write your test execution from here -->
	<classes>
	
	<class name="com.singpost.isam.test.TelecomPaymentTest"/>
	<class name="com.singpost.isam.test.TownCoucilTest"/>
	<class name="com.singpost.isam.test.TelecomPaymentNegTest"/>
	
	
	</classes>
	</test> 

	
	

</suite>